* {

    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    height: 100%;
}
h1{
    float: left;
    
}
a{
  color: saddlebrown;
}
a:hover{
    text-emphasis: text-emphasis-style;
    color: burlywood;
}
body {
    background-image: url(background.leaves.jpeg);
    width: 100%;
    height: 100%;
}
.content{
    display: flex;
    
}
aside.left {
    width: 15%;
    height: 2500px;
    /*     background:green;*/
}
aside #breadcrumb{
    background-color: beige;
    margin-top: 118px;
    height: 15%;
}

nav {
    border-bottom-left-radius: 45px;
    border-bottom-right-radius: 45px;
    position:fixed;
    width: 75%;
    height: auto;
    background: linear-gradient(0deg, #015000, #00AB00);
    text-shadow: 3px 3px 9px black;
    color: saddlebrown;
    margin-top: -18px;
    text-align: center;
    margin-left: 12.5%;
    padding: 24px;
    z-index: 1;
}

nav h1 {
    position: absolute;
}

nav ol {}

nav ol li {
    padding: 5px;
    margin: 5px;
    display: inline-block;
}
aside.left{
    color: saddlebrown;
}
main {
    display: inline-block;
    color: dimgrey;
    border-width: thick;
    margin-top: 118px;
    background: tan;
    height: 2500px;
    width: 70%;
}
h3{
    
}


    width: 400px;
    height: 265px;


#fbox1{
     display: inline-block;
    
/*
    padding-left: 10%;
    margin-right: auto;
*/
/*    padding-left: 10%;*/
/*    height: 30px; */
}
.textbox{
    display: inline-block;
}

#trees{
    margin:5%;
      width: 300px;
    height: 186px;
}
#roots{
  margin:5%; 
     width: 300px;
    height: 186px;
} 

#fbox2{
     display: inline-block;

/*
    margin-left: auto;
    margin-right: auto;
*/
/*    height: 30px; */
}
.textbox2{
    display:inline-block;
}
#grains{
    margin: 5%;
}
#shrooms{
    margin: 5%;
}
h1, h2, h3, p{

    width: 100%;
    padding: 10px;
}
aside.right {
    width: 15%;
    height: 2500px;
    /*background:green;*/
}
div #comment{
    position: absolute;

}


@media screen and (max-width: 600px) {
    main {
        width: 100%;
        margin: 0;
        padding: 0;
        margin-left: 0;
        margin-right: 0;
        padding: 10px;
    }
    aside.left {
        display: none;
    }
    aside.right {
        display: none;
    }
    nav {
        margin: 0;
        position: initial;
        height: 10;
        width: 100%;
        
        
    }
    nav ol li {
        margin: 1px;
        padding: 1px;
        display: inline-block;
    }
    div#comment{
        display: none;
            
    }
}
